/*GLOBAL*/

body {
	background: url("../img/bg.jpg")
}

/*layout*/

.container {
	background-color: white; 
	width: 95%;
	margin: 0 auto;
}

article section {

	width: 50%;
	float: left;
}

iframe, img{
	width: 100%;
	max-width: 100%;
}

.truck2  {
	margin-top: 10px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	border-left: 5px solid black;
	margin-left: 80px;
	transform: skewX(15deg);
}

.truck1  {
	margin-top: 10px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	border-left: 5px solid black;
	margin-left: 20px;
	margin-right: 40px;
	transform: skewX(-15deg);
}

nav li {
display: inline-block;
margin: 20px 0 0 50px;
text-align: right;


}


h3 {
display: block;
font-size: 2em;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
text-align: center;
margin-top: -50px auto;
}

p 
	{
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

}
 







/*desktop 960px*/
@media (min-width: 960px)  {

#top {
	width: 300px;
}
}

/*tablet 768*/
@media (min-width: 768px)  {
section img {
	width: 80%;

}
section h1 {
	text-transform: uppercase;
	color:black;
	font-size: 2em;
}
}
}

/*mobile*/
@media (min-width: 480px)  {
float: none;

}
/*REFERENCES*/

/** [Transitions & Transforms](https://teamtreehouse.com/library/css-beyond-the-basics/understanding-css-transitions-and-transforms/)*/

/* * [Media Queries](https://teamtreehouse.com/library/css-beyond-the-basics/working-with-media-queries/)*/










